.home {
  margin-top: 0;
  background: #edf6f9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-div {
  color: whitesmoke;

  display: grid;

  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.second-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

p,
ul,
button {
  color: #fffffc;
}

.item {
  background-color: #af8f9b;
  border-radius: 20px;
  box-shadow: 2px 3px 2px black;
}
.start {
  background-color: #e07a5f;
}
.start:hover {
  background: #fda992;
}
.item1 {
  grid-area: 1/1/2/4;
}
.item2 {
  grid-area: 2 / 1 / 3 / 2;
}
.item3 {
  grid-area: 2 / 2 / 3 / 3;
}
.item4 {
  grid-area: 2 / 3 / 3 / 4;
}
.item5 {
  grid-area: 1 / 1 / 2 / 2;
}
.item6 {
  grid-area: 1 / 2 / 2 / 2;
}

@media (max-width: 1024px) {
  .main-div {
    grid-template-columns: repeat(2, 1fr);
  }

  .item1 .item2 .item3 {
    grid-column: span 2;
  }
}

@media (max-width: 768px) {
  .main-div {
    grid-template-columns: 1fr;
  }
  .second-grid {
    grid-template-columns: 1fr;
  }

  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    grid-column: span 1;
    grid-row: auto;
  }
}
